---
layout: base
eleventyExcludeFromCollections: true
pagination:
  data: articles
  size: 10
  alias: items
permalink: "{% if pagination.pageNumber > 0 %}/page/{{ pagination.pageNumber + 1 }}{% endif %}/"
canonical: /
---

{%- set totalPages = pagination.pages|length -%}
{%- set currentPage = pagination.pageNumber + 1 -%}
{%- set previousHref = pagination.href.previous -%}
{%- set nextHref = pagination.href.next -%}

<header class="main-heading">
  <h1>{{ phrases.latestArticles }}{%- if pagination.pageNumber > 0 -%}, {{ phrases.page }} {{ currentPage }} {{ phrases.of }} {{ totalPages }} {%- endif -%}&nbsp;&darr;</h1>
</header>

{% for item in items %}
  {% include "partials/post.njk" %}
{% endfor %}

{% include "partials/pagination.njk" %}