.bloglist {
  margin: 3rem 0;

  ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  li {
    flex: 50%;
    list-style: none;
    padding: 0.25rem 0rem;
    margin-bottom: 2rem;
    font-family: var(--sans-serif);
    align-items: flex-start;

    .rss {
      padding: 0;
      margin-left: 32px;
      display: inline-flex;
      align-items: center;
      font-size: 0.9875rem;

      svg {
        width: 16px;
        height: 16px;
        margin-right: 4px;
      }
    }

    .blog-name {
      margin: 0 0 0.5rem;
      padding: 0;
      font-size: 1.5rem;
    }

    .avatar {
      background: var(--white);
      height: 22px;
    }

    p {
      margin: 0;
      font-family: var(--sans-serif);
    }

    a {
      color: var(--text-color);
      display: inline-block;
    }
  }

  @media screen and (max-width: 620px) {
    li {
      flex: 100%;
    }
  }
}
