html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body > main {
  flex: 1;
}

p a,
li a {
  color: var(--text-color);
  text-decoration: underline;

  &:hover,
  &:focus {
    text-decoration: none;
  }
}
