{% if site.data.hideFromSiteList != true %}
<li>
  <h2 class="blog-name">
    <img width="22" height="22" class="avatar" src="{{ site.data.avatar }}" alt="{{ site.data.name }}{{ phrases.sAvatar }}" />
    <a href="{{ site.data.url }}">
      {{ site.data.name }}
    </a>
  </h2>
  <div class="rss">
    {% if site.data.feedType == 'json' %}
      {% include "svg/json.svg" %} <a href="{{ site.data.feed }}">JSON Feed</a>
    {% else %}
      {% include "svg/rss.svg" %} <a href="{{ site.data.feed }}">RSS Feed</a>
    {% endif %}
  </div>
</li>
{% endif %}