<article class="article">
  <a href="{{ authorUrl }}" class="author">
    <img width="18" height="18" src="{{ avatar }}" alt="{{ authorName }}{{ phrases.sAvatar }}" />
    <span>{{ authorName }}</span>
  </a>

  <h2 class="post-title">
    <a href="{{ link }}">
      {{ title }}
    </a>
  </h2>

  <div class="post-meta">
    <time>
      {% include "svg/calendar.svg" %}
      <span>{{ published }}</span>
    </time>
  </div>

  <p>
    {% if item.htmlDescription %}
      {{ item.htmlDescription | safe }}
    {% elif item.description %}
      {{ item.description | safe }}
    {% endif %}
  </p>
</article>