  {% set url = item.url %}
  {% set title = item.title|safe %}
  {% set avatar = item.avatar %}
  {% set siteUrl = item.siteUrl %}
  {% set siteName = item.name %}
  {% set published = item.published|readableDate %}
  {% set description = item.description %}
  
  <article class="article">
    {% if siteName %}
    <a href="{{ siteUrl }}" class="author">
    {% if avatar %}
      <img width="18" height="18" src="{{ avatar }}" alt="{{ siteName }}{{ phrases.sAvatar }}" />
    {% endif %}
      <span>{{ siteName }}</span>
    </a>
    {% endif %}

  {% if siteConfig.clickableDescriptions %}
    {% if url %}
      <a href="{{ url }}" class="clickable-item">
    {% endif %}

    <h2 class="post-title">
      {{ title }}
    </h2>

     <div class="post-meta">
      {% if published %}
      <time>
        {% include "svg/calendar.svg" %}
        <span>{{ published }}</span>
      </time>
      {% endif %}
    </div>

    <p class="post-description">
    {% if item.description %}
      {{ item.description | safe }}
    {% endif %}
    </p>

    {% if url %}
      </a>
    {% endif %}
  {% else %}
    <h2 class="post-title">
      {% if url %}
      <a href="{{ url }}" class="clickable-item">
      {% endif %}
      {{ title }}
      {% if url %}
      </a>
      {% endif %}
    </h2>

    <div class="post-meta">
      {% if published %}
      <time>
        {% include "svg/calendar.svg" %}
        <span>{{ published }}</span>
      </time>
      {% endif %}
    </div>

    <p class="post-description">
    {% if item.description %}
      {{ item.description | safe }}
    {% endif %}
    </p>
  {% endif %}

</article>