@import "vendors/all";
@import "partials/all";

.container {
  max-width: 48rem;
  margin: 0 auto;
  padding: 0 1em;
}

a {
  color: var(--text-color);
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

.main-heading {
  font-size: 2rem;
  color: var(--heading-color);

  h1 {
    font-size: 1.25rem;
  }
}

.article {
  padding: 2rem 0.5rem;
  border-bottom: 1px solid #bbb;

  .clickable-item {
    text-decoration: none;

    &:hover,
    &:focus {
      text-decoration: none;

      .post-title {
        text-decoration: underline;
      }
    }
  }
}

.author {
  background: #d6d6d6;
  border-radius: 6px;
  color: #333;
  display: inline-flex;
  align-items: flex-end;
  padding: 6px 12px 6px 6px;
  margin-right: 24px;
  text-decoration: none;

  &:hover,
  &:focus {
    background: #dddddd;
  }

  img {
    display: block;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border-radius: 4px;
  }

  span {
    display: inline-block;
    line-height: 1;
    height: 100%;
    font-size: 0.9875rem;
  }
}

.post-title {
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.post-meta {
  display: flex;
  align-items: center;
  margin: 20px 0 30px;

  time {
    color: var(--date-color);
    display: flex;
    align-items: flex-end;

    svg {
      width: 20px;
      height: 20px;
      margin-right: 0.25rem;
    }

    span {
      font-size: 0.9875rem;
      line-height: 1;
    }
  }
}

@media screen and (max-width: 480px) {
  .author {
    img {
      width: 14px;
      height: 14px;
    }
    span {
      font-size: 0.875rem;
    }
  }

  .post-title {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
  }

  .post-meta {
    margin: 15px 0 20px;

    time {
      span {
        font-size: 0.875rem;
      }

      svg {
        width: 14px;
        height: 14px;
      }
    }
  }
}

@media screen and (min-width: 481px) {
  .menu-wrapper .custom-menu-3 {
    display: block;
  }
}
